[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

click = "*"


[requires]

python_version = "3.6"


[dev-packages]

pylint = "*"
pytest = "*"
yapf = "*"
rope = "*"
"e1839a8" = {path = ".", editable = true}
pytest-runner = "*"
twine = "*"
