[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

click = "*"
pyskeletor = "*"


[requires]

python_version = "3.6"


[dev-packages]

pylint = "*"
pytest = "*"
yapf = "*"
rope = "*"
pytest-runner = "*"
twine = "*"
